
body {
    .container{
        margin-top: 10vh;
        width:80%;
        margin: auto;
    }
    .filter{
        text-align: center;
    }
    section.album-list{
        display:flex;
        justify-content:center;
    }
    .album{
        width:40vw;
    }
}
